In [14]:
import pandas as pd
import numpy as np
import scipy
from scipy import stats
from scipy.stats import t, norm, ttest_1samp, ttest_ind

In [5]:
diamonds = pd.read_csv('../data/raw/diamonds_train.csv')
diamonds.head()

   carat        cut color clarity  depth  table  price     x     y     z
0   1.21    Premium     J     VS2   62.4   58.0   4268  6.83  6.79  4.25
1   0.32  Very Good     H     VS2   63.0   57.0    505  4.35  4.38  2.75
2   0.71       Fair     G     VS1   65.5   55.0   2686  5.62  5.53  3.65
3   0.41       Good     D     SI1   63.8   56.0    738  4.68  4.72  3.00
4   1.02      Ideal     G     SI1   60.5   59.0   4882  6.55  6.51  3.95

*Test 1* - one sample vs constant hypothesis test. We know from the available literature that diamonds average price rounds about 4000 USD. The aim is to test whether the prices in our sample are significantly different from the literature value. Give some conclusions about the implications of your test results.

In [ ]:
'''
H0 = Diamonds price rounds $4000
H1 = Diamonds price rounds is different than $4000
'''

In [9]:
'''First, whit the whole dataset of diamonds'''
test_results = ttest_1samp(diamonds['price'], 4000)
display(test_results.statistic)
display(test_results.pvalue < 0.005)

-3.604902369125729

True

In [11]:
diamonds_ppc = pd.read_csv('../data/processed/diamonds_ppc.csv')
diamonds_ppc.head()

,Unnamed: 0,carat,cut,color,clarity,depth,table,price,x,y,z,PPC
0,0,1.21,Premium,J,VS2,62.4,58.0,4268,6.83,6.79,4.25,3527.272727
1,1,0.32,Very Good,H,VS2,63.0,57.0,505,4.35,4.38,2.75,1578.125000
2,2,0.71,Fair,G,VS1,65.5,55.0,2686,5.62,5.53,3.65,3783.098592
3,3,0.41,Good,D,SI1,63.8,56.0,738,4.68,4.72,3.00,1800.000000
4,4,1.02,Ideal,G,SI1,60.5,59.0,4882,6.55,6.51,3.95,4786.274510

In [12]:
'''First, whit the whole dataset of diamonds'''
test_results = ttest_1samp(diamonds_ppc['price'], 4000)
display(test_results.statistic)
display(test_results.pvalue < 0.005)

-3.604902369125729

True

In [13]:
'''Con una confianza del 95%, podemos rechazar la hipótesis nula, es decir, que la diferencia de precios es significativa'''

'Con una confianza del 95%, podemos rechazar la hipótesis nula, es decir, que la diferencia de precios es significativa'

*Test 2* - two independent samples. Our sample includes diamonds with different features (carat, cut, color clarity, etc.). It seems clear that the carat plays an important role in price. However, it's not that clear whether the prices of some "sub-groups" are significantly different from each other. These are the "sub-groups" that you might feel suspicious about it:
Sub-Test 6: All cuts + color D vs. All cuts + color E

In [25]:
'''
H0: Los precios de los diamantes no se diferencian entre sí ya sean de la D o de la E
H1: Los precios de los diamantes sí se diferencian entre sí ya sean de la D o de la E
'''

'''With all diamonds'''

diamonds_D = diamonds[(diamonds['color'] == 'D')]
diamonds_E = diamonds[(diamonds['color'] == 'E')]
varD = stats.sem(diamonds_D['price']) 
varE = stats.sem(diamonds_E['price'])
varD == varE

False

In [26]:
ttest_ind(diamonds_D['price'], diamonds_E['price'], equal_var=False)

Ttest_indResult(statistic=0.7646978610927021, pvalue=0.44446798501477136)

In [27]:
'''With clean dataset'''

diamonds_ppc_D = diamonds_ppc[(diamonds_ppc['color'] == 'D')]
diamonds_ppc_E = diamonds_ppc[(diamonds_ppc['color'] == 'E')]
varD_ppc = stats.sem(diamonds_ppc_D['price']) 
varE_ppc = stats.sem(diamonds_ppc_E['price'])
varD_ppc == varE_ppc

False

In [29]:
ttest_ind(diamonds_ppc_D['price'], diamonds_ppc_E['price'], equal_var=False)

Ttest_indResult(statistic=0.7646978610927021, pvalue=0.44446798501477136)

In [ ]:
'''pvale dice que da igual que sean de la D o de la E'''